<!DOCTYPE html >
<html lang="en-US" ng-app="myCalc">
<head>
	<meta charset="utf-8">
	<title>Calculator</title>
	<!-- [if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
	<div ng-controller="calController as c1">
		<h1>Calculator App</h1>
			<div>
				<input type="number" ng-model="c1.num1" placeholder="First Number">
				<span>{{c1.exp}}</span>
				<input type="number" ng-model="c1.num2" placeholder="Second Number">
				<button ng-click="c1.action()">=</button>
				<span ng-bind="c1.result">
			</div>

			<div>
				<button ng-click="c1.pushButton('+')">+</button>
				<button ng-click="c1.pushButton('-')">-</button>
				<button ng-click="c1.pushButton('*')">*</button>
				<button ng-click="c1.pushButton('/')">/</button>
			</div>
	</div>
</body>
</html>